{
    "presets": ["@babel/env"],
    "plugins": [
        [
            "import",
            {
                "libraryName": "view-design",
                "libraryDirectory": "src/components"
            }
        ]
    ]
}
